@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    color: #50abe4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    color: #50abe4;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  label {
    color: #0b1728;
    font-family: Poppins;
    font-size: 9.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .lbl_nama {
    color: #0b1728;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }

  .lbl_detail {
    color: var(--Main-Color, #0b1728);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .centered-items {
    display: grid;
    place-items: center;
  }

  .right-items {
    display: grid;
    place-items: end;
  }

  .left-items {
    display: grid;
    place-items: start;
  }
}

@layer components {
  .btn_sidemenu {
    @apply rounded-lg p-1 content-center items-center inline-flex min-w-full gap-2 font-normal;
    color: #50abe4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }

  .btn_sidemenu:hover {
    @apply transition duration-500 rounded-lg p-1 bg-light_blue_25 content-center items-center inline-flex min-w-full gap-2;
    color: #50abe4;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }

  input[type="text"] {
    color: #50abe4;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    width: 100%;
  }

  input[type="text"]::placeholder {
    color: #50abe48f;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    width: 100%;
  }

  input[type="text"]:focus {
    color: #50abe4;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    width: 100%;
    border-width: 0;
    outline: none;
  }
}
