@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #fbfbfb;
}

@layer base {
  p {
    color: theme(colors.black);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h1 {
    color: theme(colors.dark_blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    color: theme(colors.dark_blue);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  label {
    color: theme(colors.black);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;

    line-height: normal;
    text-transform: uppercase;
  }

  button {
    font-family: Poppins;
  }

  /* CSS MAP */
  @screen xsm {
    .css_map {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr min-content;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "headerHere"
        "contentsHere"
        "sideMenu";
    }

    .headerHere {
      grid-area: headerHere;
    }
    .contentsHere {
      grid-area: contentsHere;
    }
    .sideMenu {
      grid-area: sideMenu;
    }
  }

  @screen md {
    .css_map {
      display: grid;
      grid-template-columns: 18% 1fr;
      grid-template-rows: min-content 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "sideMenu headerHere"
        "sideMenu contentsHere";
    }

    .sideMenu {
      grid-area: sideMenu;
    }
    .headerHere {
      grid-area: headerHere;
    }
    .contentsHere {
      grid-area: contentsHere;
    }
  }
}

@layer components {
  /* BUTTON */
  .btn_sidemenu {
    @apply text-[10px] w-full gap-2 grid place-items-center content-center items-center py-1 rounded-lg text-dark_blue;
    font-family: "Poppins";

    @media (min-width: theme("screens.md")) {
      @apply content-center items-center inline-flex text-sm py-4 px-2;
    }

    &:hover {
      @apply transition duration-200 rounded-lg bg-purple text-white;
    }
  }

  /* INPUT */
  input {
    @apply border text-dark_blue text-sm font-medium bg-transparent w-full p-3 rounded-lg;
    font-family: "Poppins";
    outline: none;

    &::placeholder {
      color: #8c98a9;
    }

    &:hover {
      @apply shadow-md duration-200;
    }
  }

  select {
    @apply border text-dark_blue text-sm font-medium bg-transparent w-full p-3 rounded-lg;
    appearance: none;
    -webkit-appearance: none;
    font-family: "Poppins";
    outline: none;

    &:hover {
      @apply shadow-md duration-200;
    }
  }
}
